@use '../../../../style/vars.scss' as *;

.ticket-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-color: $bg-accent-color;
  font-weight: 600;
  row-gap: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-price {
    align-self: center;
    color: $text-accent-color;
    font-size: 24px;
    line-height: 24px;
  }

  &-img {
    height: 36px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
  }

  &-info > * {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-info-title {
    color: #a0b0b9;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 19px;
    text-transform: uppercase;
  }

  &-info-desc {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 21px;
  }
}
