@use '../../../../style/vars.scss' as *;

.tabs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 50px;

  &-list {
    display: flex;

    &-btn {
      width: 170px;
      padding: 15px;
      border: 1px solid #dfe5ec;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 20px;
      text-transform: uppercase;
    }

    &-btn-active {
      border: 1px solid #2196f3;
      background-color: $button-active-color;
    }

    &-btn-first {
      border-radius: 10px 0 0 10px;
    }

    &-btn-last {
      border-radius: 0 10px 10px 0;
    }

    &-loader {
      align-self: center;
    }
  }
}
