$bg-main-color: #f3f7fa;
$bg-accent-color: #ffffff;

$font-family-base: var(--font-main);

$text-color: #4a4a4a;
$text-accent-color: #2196f3;

$button-active-color: #2196f3;

$button-color-hover: #fddde6;
$button-color-icon-hover: #cf3476;

$transition-duration: 0.2s;
