.logo {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
  height: 189px;
}

@media (width >= 319.98px) {
  .main {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 16px;
    gap: 10px;
  }
}

@media (width >= 767.98px) {
  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
}
